.body {
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:'cr-regulat', sans-serif;
}

@font-face {
  font-family: 'cr-light';
  src: url('../fonts/CircularStd-Light.otf') format('truetype');
}

@font-face {
  font-family: 'cr-regular';
  src: url('../fonts/CircularStd-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'cr-bold';
  src: url('../fonts/CircularStd-Bold.otf') format('truetype');
}

.container {
  display: flex;
  flex: 1;
  gap: 50px;
}


.main-posts {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-post-card {
  box-sizing: border-box;
  border: 2px solid #212529;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: calc(45% - 20px); 
}

.post-buttons {
  display: flex;
  margin-top: 10px;
}

.like-button,
.comment-button,
.share-button {
  padding: 5px 8px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  margin-right:10px;
  background-color:#fff
}


.like-button:hover img {
  content: url('../images/heart.gif');
}

.like-button img,
.comment-button img, 
.share-button img{
  height:25px;
  width:25px;
}
@media (max-width: 1440px) {
  .main-post-card {
    width: 100%; 
  }
  .main-posts{
    margin-left:190px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .main-post-card {
    width: calc(45% - 20px); 
  }
}

.main-post-card .card-title {
  margin-bottom: 10px; 
}

.main-post-card .card-img-top {
  margin-bottom: 10px; 
  border-radius: 8px; 
}

.custom-sidebar {
  background-color: #212529;
  color: #f8f9fa;
  width: 250px;
  padding: 20px;
  transition: width 0.3s;
  position: fixed;
  left: 0;
  height: 100%;
}

.recent-posts {
  background-color: #212529;
  padding: 10px;
  color: #f8f9fa;
  margin: 0;
  height: auto;
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
}

.recent-posts h2 {
  font-family: 'cr-light', sans-serif;
  font-size: 18px;
  text-align: left;
}

.section-title {
  color: #fff;
}

.recent .card-title {
  font-size: 18px;
}

.section-title {
  text-align: center;
}

.custom-sidebar button {
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .custom-sidebar {
    display: none;
  }
}

@media (max-width: 1000px) {
  .custom-sidebar {
    display: none;
  }

  .recent-posts {
    display: none;
  }
}

.button-section {
  margin-bottom: 20px;
}

.button-section h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #dee2e6;
  color: #343a40;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
