body{ 
    background-color: #212529;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


  

.username{
    font-size:25px;
    font-weight:500;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .icon {
    width: 50px; 
    height: 50px;
  }

  .person-box-highlighted {
    background-color: #E9ECEF; 
    color:#212529;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size:20px;
}

.profile-picture {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #E9ECEF;
    margin-top: 20px; 
    margin-left:10px;
    box-sizing: border-box; 
}

.messages-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 250px; 
}

.people-container {
    flex: 0.7; 
    max-height: 100%;
    background-color: #212529;
    color: #ced4da;
    border: 3px solid #ced4da;
    border-top: 0px;
    border-bottom: 0px;
    border-right:0px;
    overflow-y: auto;
    width: 1000px; 
}
  .person-box {
    padding: 10px;
    font-size:20px;
  }
  
  .user-messages-container {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ced4da;
    border-radius: 30px;
    padding: 10px 20px;
    width: 80%;
    max-width: 600px;
    margin: auto; 
    margin-bottom:40px;;
  }

  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #ced4da;
  }
  
  .send-button {
    background-color: #212529;
    color: #ced4da;
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  