.container{
    margin-top: 25px;
    align-items: center;
}

.user-profile {
    width: 45px;
    height: 45px;
}
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

.main-posts {
    margin-left: auto;
    margin-right: auto;
}

.main-post-card .card-img-top {
    margin-bottom: 10px;
    border-radius: 8px;
}

@media (max-width: 992px) {
    .custom-sidebar{
      display: none;
    }
}

.main-post-card {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: auto; 
    margin-right: auto; 
}
.btn-home {
    flex: end;
    right: 25px;
    position: absolute;
    color: white;
    background-color: #212529;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 6px;
}

.btn-reply{
    background-color: #212529;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.post-buttons {
    display: flex;
    margin-top: 10px;
}

.like-button:hover img {
    content: url('../images/heart.gif');
}



.like-button,
.comment-button,
.share-button {
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #fff;
}

.like-button img,
.comment-button img,
.share-button img {
    height: 25px;
    width: 25px;
}

.leave-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width:80%;
    margin-left: auto; 
    margin-right: auto; 
}

.post{
    margin-bottom:1%;
    background-color: #212529;
    border-color:#212529;
    font-weight:500;
}
.leave-comment textarea {
    flex: 1;
    margin-right: 10px;
}

.comment-text{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.comment-container {
    margin-top: 1em;
    width:60%;
    margin-left: auto; 
    margin-right: auto; 
}

.comment-text {
    width: calc(100% - 100px); 
    margin-bottom: 10px;
}

.comment-container h2 {
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
}

.comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}